.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.main {
    min-width: 300px;
    width: 100%;
    margin: auto;
    outline: gray solid 1px;
}

.header-nav-bar {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    margin-bottom: 10%;
}

.header-nav-bar::after {
    content: "";
    display: block;
    clear: both;
}

.small-nav-icons {
    display: none;
}

.nav-bar-brand {
    display: inline-block;
}

.nav-bar-brand:hover {
    cursor: pointer;
}

.nav-bar-left {
    display: inline-block;
    margin-left: 5%;
    width: 25%;
}

.login {
    font-size: 1.8vw;
    display: block;
    float: right;
    padding-top: 15%;
}

.nav-bar-right {
    margin-right: 0px;
    margin-left: auto;
    width: 30%;
    float: right;
}

.nav-bar-items {
    display: inline-block;
    margin: 1%;
}

.login-div {
    display: inline-block;
}

.member {
    padding: 5%;
    margin-left: 5%;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1vw;
    float: right;
}

.header-center {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.center-headline {
    margin-top: 5%;
    margin-bottom: 5%;
}

.header-center-text {
    margin-top: 10%;
    margin-bottom: 10%;
}

.header-center-buttons {
    width: fit-content;
    margin: 0px auto 20%;
}

.header-center-button-left,
.header-center-button-right {
    width: 10vw;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 25% / 100%;
}

.header-lower::after {
    content: "";
    display: block;
    clear: both;
}

.header-lower-container {
    width: 75%;
    margin: -5% auto 0px;
    z-index: 5;
}

.header-lower-item {
    width: 25%;
    display: inline-block;
    padding: 2%;
    margin-left: 2.5%;
    filter: drop-shadow(gray 13px 11px 10px);
}

.header-lower-items-image {
    display: block;
    margin-bottom: 5%;
}

.features::after {
    content: "";
    display: block;
    clear: both;
}

.features-container {
    width: 75%;
    margin: 0px auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.features-item {
    width: 25%;
    display: inline-block;
    padding: 2%;
    margin-left: 2.5%;
}

.feature-item-image {
    display: block;
    margin: 5% auto;
}

.feature-item-image-back {
    z-index: -1;
}

.testimonals-header-container {
    padding-top: 5%;
    width: 50%;
    margin: 0px auto;
}

.testimonial-body::after {
    content: "";
    display: block;
    clear: both;
}

.testimonial-body-container {
    width: 75%;
    margin: 0px auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.testimonial-body-item {
    width: 25%;
    display: inline-block;
    padding: 2%;
    margin-left: 2.5%;
}

.testimonial-image {
    display: block;
    margin: 5% auto 2.5%;
}

.testimonial-stars {
    width: fit-content;
    margin: auto;
}

.links-upper-container::after {
    content: "";
    display: block;
    clear: both;
}

.links-upper-container {
    width: 75%;
    margin: 0px auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.links-upper-item-container {
    width: 10%;
    display: inline-block;
    padding: 0%;
    margin-left: 5.5%;
}

.links-lower::after {
    content: "";
    display: block;
    clear: both;
}

.links-lower {
    width: 75%;
    margin: 0px auto;
    padding: 2% 5%;
}

.links-lower-left {
    float: left;
}

.links-lower-right {
    float: right;
    width: 50%;
}

.links-lower-h3 {
    width: 70%;
}

.links-lower-button {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    float: left;
    width: 28%;
    height: 4.05vw;
    font-size: 1.5vw;
    border: none;
    outline: white;
}

.links-lower-text {
    width: 70%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    float: left;
    height: 1.96vw;
    font-size: 1.5vw;
}

.pricing {
    padding-bottom: 5%;
}

.pricing-header {
    width: 50%;
    margin: 0% auto 5%;
}

.pricing-header-h2 {
    margin: 5%;
}

.pricing-body-container {
    width: 75%;
    margin: auto;
}

.pricing-body-container::after {
    content: "";
    display: block;
    clear: both;
}

.pricing-body-item-side,
.pricing-body-item-middle {
    display: inline-block;
    padding: 5%;
    width: 22.5%;
    border-radius: 2%;
}

.pricing-body-item-middle {
    padding-top: 7%;
}

.pricing-button {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 25%;
}

.price-h2,
.price-right {
    display: inline-block;
}

.price {
    width: fit-content;
    margin: 5% auto;
    font-weight: bolder;
}

.pricing-lower-middle-h5,
.pricing-lower-side-h5 {
    margin-top: 5%;
}

.pricing-lower-middle-h3,
.pricing-lower-side-h3 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.offers-h6 {
    display: inline-block;
    width: fit-content;
}

.offer-tick {
    display: inline-block;
    border-radius: 100%;
    background-color: cadetblue;
}

.offer-tick-lower {
    display: inline-block;
    border-radius: 100%;
    background-color: gray;
}

.offer-item {
    width: 100%;
    margin: auto auto 10%;
}

.offers {
    margin: 10% auto auto;
    width: max-content;
}

.contact-lower {
    position: relative;
}

.contact-upper-container {
    width: 75%;
    margin: auto;
    padding-bottom: 25%;
    padding-top: 5%;
}

.contact-upper-container::after {
    content: "";
    display: block;
    clear: both;
}

.contact-upper-left {
    width: 45%;
    float: left;
}

.contact-upper-right {
    width: 40%;
    float: right;
}

.contact-upper-left-p {
    margin-top: 5%;
}

.contact-form-h3 {
    width: 60%;
}

.contact-form-header {
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact-button {
    display: block;
}

.contact-form {
    width: 100%;
}

.contact-text {
    width: 90%;
    margin: 2% auto;
    border: 1px solid rgb(189, 189, 189);
    font-size: 1.5vw;
    border-radius: 5px;
}

.contact-button {
    width: 90%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    font-size: 1.5vw;
}

.footer-upper-container {
    width: 80%;
    margin: 0px auto;
}

.footer-upper-container::after {
    content: "";
    display: block;
    clear: both;
}

.footer-upper-left {
    float: left;
    padding-top: 4%;
}

.footer-upper-right {
    float: right;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-middle-container {
    padding-bottom: 5%;
    width: 80%;
    margin: 0px auto;
}

.footer-col-li {
    margin-top: 5%;
}

.footer-col-li img {
    display: inline-block;
}

.footer-col-li div {
    display: inline-block;
    margin-left: 5%;
    padding-top: 25px;
}

.footer-middle-col {
    float: left;
}

.footer-middle-col:not(:last-child) {
    width: 17%;
    margin-right: 1.5%;
}

.footer-middle-col:not(:last-child) li {
    padding-top: 30px;
}

.footer-middle-col:last-child {
    margin-left: 0px;
    width: 25%;
    padding: 0%;
    align-content: stretch;
}

.footer-lower-container {
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
}

.footer-lower-left {
    float: left;
    width: 50%;
}

.reference img {
    margin-left: 10%;
    float: right;
}

.reference {
    float: right;
    width: 40%;
}

.a {
    text-decoration: none;
}

p {
    margin-top: 2%;
}