.clearfix::after{
    content: '';
    display: block;
    clear: both;
    }
    .main{
        min-width: 300px;
        width: 80%;
        margin:auto;
        outline: 1px solid gray;
    }
/*header*/
.header-nav-bar{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top:2%;
    margin-bottom: 10%;
}
.header-nav-bar::after{
    content: '';
    display: block;
    clear: both;
}
.small-nav-icons{
    display:none;
}
.nav-bar-brand{
    display: block;
}

.nav-bar-right{
    display:inline-block;
    }
    .nav-bar-left{
        display: block;
        margin-left:0%;
        margin-top:5%;
    }
    .nav-bar-right{
        display:block;
        margin-right:0;
        margin-left: auto;
        margin-left: 0%;
        margin-top:5%;
    }
    .nav-bar-items{
    display: inline-block;
    margin: 1%;
    }
    .login-div{
        display: inline-block;
    }
    .member{
        display: inline-block;
        padding-top:2.5%;
        padding-bottom:2.5%;
        padding-right: 10%;
        padding-left: 10%;
        margin-left: 5%;
        border-radius: 2%;
    };
   

.nav-bar-items{
display: inline-block;
margin: 1%;
}
.login-div{
    display: inline-block;
}

.header-center{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.center-headline{
    margin-top:5%;
    margin-bottom:5%;
}
.header-center-text{
    margin-top:10%;
    margin-bottom:10%;
}
.header-center-buttons{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20%;
}
.header-center-button-left, .header-center-button-right{
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5% 10% 5% 10%;
    border-radius: 25% 25% 25% 25% / 100% 100% 100% 100%;
}

.header-lower::after{
    content: '';
    display: block;
    clear: both;
}
.header-lower-container{

}
.header-lower-item{
    display: block;
    width: 50%;
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
    
}
.header-lower-items-image{
    display: block;
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
}
.header-lower-h3,.header-lower-p{
    margin:auto;
    text-align: center;
}
/*header*/
/*features*/
.features::after{
    content: '';
    display: block;
    clear: both;
}
.features-container{
    width: 75%;
    margin:0 auto;
    padding-top:5%;
    padding-bottom:5%;
}
.features-item{
    width:25%;
    display:inline-block;
    padding:2%;
    margin-left:2.5%;
}
.feature-item-image{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
/*features*/
/*testimonial*/
.testimonals-header-container{
    padding-top: 5%;

}
.testimonial-body::after{
    content: '';
    display: block;
    clear: both;
}
.testimonial-body-container{
    width: 75%;
    margin:0 auto;
    padding-top:5%;
    padding-bottom:5%;
}
.testimonial-body-item{
    width:25%;
    display:inline-block;
    padding:2%;
    margin-left:2.5%;
}
.testimonial-image{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    margin-bottom: 2.5%;
}
.testimonial-stars{
    width: fit-content;
    margin: auto;
}
/*testimonial/
/*links*/
.links-upper-container::after{
    content: '';
    display: block;
    clear: both;
}
.links-upper-container{
    width: 75%;
    margin:0 auto;
    padding-top:5%;
    padding-bottom:5%;
}
.links-upper-item-container{
    width:10%;
    display:inline-block;
    padding:0%;
    margin-left:5.5%;
}

.links-lower::after{
    content: '';
    display: block;
    clear: both;
}
.links-lower{
    width: 75%;
    margin:0 auto;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:5%;
    padding-right:5%;
}


.links-lower-h3{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    
}
.links-lower-button{
    padding-top:2.5%;
    padding-bottom:2.5%;
    float:left;
    width:28%;
    }
.links-lower-text{
width:70%;
padding-top:2.5%;
padding-bottom:2.5%;
float:left;
}
/*links*/
/*pricing*/
.pricing-header{
    width: 50%;
    margin: auto;
    margin-top:10%;
    margin-bottom:10%;
}
.pricing-header-h2{
    margin: 5%;
}
.pricing-body-container{
    width: 75%;
    margin:auto;
}
.pricing-body-container::after{
    content: '';
    display: block;
    clear: both;
}
.pricing-body-item-side,.pricing-body-item-middle{
    display: block;
    border-radius: 2%;
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
    padding-top:5%;
}
.price-h2,.price-right{
    display: inline-block;
}
.price{
    width: fit-content;
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
}
.offers{
    width: fit-content;
    margin: auto;
}
.offer-item{
    padding-top: 5%;
    padding-bottom: 5%;
}
.pricing-body-item-middle{
    padding-top:7%;
}
.pricing-button{
    width:100%;
    padding-top:5%;
    padding-bottom:5%;
    margin-top:25%;
}
.offers-h6{
    display: inline-block;
    width: fit-content;
}
.offer-tick{
    display: inline-block;
    border-radius: 100%;
    background-color: cadetblue;
}
.offer-item{
    margin: auto;
}
.offers{
    margin:auto;
}

/*pricing*/
/*contact*/

/*pricing*/
/*contact*/
.contact-upper{
    padding:10%;
    padding-bottom:1%;
    }
    .contact-upper-left-p{
        margin:5% auto;
    }
    .contact-upper-right{
        margin-top:30%;
        margin-bottom:30%;
    }
    .contact-lower{
        padding-top: 50%;
      }
      .contact-lower-container{
        padding: 10% 10%;
      }
      .contact-form-h3{
        width: 50%;
      }
      .contact-form-header{
          margin-top:10%;
          margin-bottom:10%;
      }
      .contact-button{
          display: block;
      }
      .contact-form{
          width:100%
      }
      .contact-text{
          width: 100%;
          margin:5% auto;
          padding-top:5%;
          padding-bottom: 5%;
          border: 1px solid #BDBDBD;
          border-radius: 2%;
      }
      .contact-button{
          width:100%;
          padding-top:5%;
          padding-bottom:5%;
          border:none;
          border-radius: 2%;
    
      }
/*contact*/
/*footer*/
.footer-upper-container{
    width: 75%;
    margin:auto;
}
.footer-upper-container::after{
    content: '';
    display:block;
    clear: both;
}
.footer-upper-left{
    float:left;
    padding-top:5%;
}
.footer-upper-right{
    float:right;
    padding-top:5%;
    padding-bottom:5%;
}
.footer-middle-container{
    width:60%;
    margin:0 auto;
}
.footer-col-header{
margin-top:10%;
margin-bottom:10%;
}
.footer-col-li img{
    display: inline-block;
    padding-top:5%;
}
.footer-col-li div{
    display: inline-block;
    margin-left:5%;
}
.footer-lower-container{
    width: 60%;
    margin: 0 auto;
    padding-top:5%;
    padding-bottom:10%;
}
.footer-lower-left-p{
    margin-top:10%;
    margin-bottom:10%;
}
.footer-lower-icons{
    margin-right:5%;
}
/*footer*/