.clearfix::after{
content: '';
display: block;
clear: both;
}
/* header */
.header{
    width: 100%;
    padding-bottom:10%;
}
.nav-bar-brand{
    margin-left: 5%;
    font-weight: 800;
}
.header-nav-bar{
    width:100%;
    margin: 0 auto;
}
.header-nav-bar ul{
    text-align: center;
}
.nav-bar-items{
    padding:5% 0;
}
.nav-bar-left{
    width:50%;
    margin:0 auto;
    padding: 5% 0 5% 0;
}
.nav-bar-right{
    display:none;
}
.header-center{
    width: 60%;
    margin: auto;
}
.center-headline{
    margin-top: 10%;
    margin-bottom: 10%;
}
.header-center-text{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
.header-center-buttons{
    margin-left:auto;
    margin-right: auto;
}
.header-center-button-left, .header-center-button-right{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2% 10% 2% 10%;
    border-radius: 25% 25% 25% 25% / 100% 100% 100% 100%;
}
.lower-header-container{
    padding-top:5%;
    padding-bottom:5%;
}
.header-lower-item{
    display: block;
    width: 60%;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding:10%;
}
.header-lower-h3{
    margin-top:5%;
    margin-bottom:5%;
}

/* header */
/*features*/
.features-item{
    display: block;
    margin:0 auto;
    
}
.features-container{
    padding-top: 15%;
    padding-bottom: 15%;
}
.feature-item-image{
    display: block;
    margin:10% auto 10% auto;
}
/*features*/
/*testimonial*/
.testimonials-container{
    width:70%;
    margin:10% auto 0% auto;
    padding-top: 10%;
    padding-bottom: 10%;
}
.testimonial-body{
    margin: 15% auto 15% auto;
}
.testimonial-body-item{
    border-radius: 2%;
    border:1px solid rgb(192, 192, 192);
    padding: 10%;
    margin:10% auto;
    background-color: white;
}
.testimonial-image{
    display:block;
    margin:0 auto 10% auto;
}
.testimonial-body-text{
    margin: 10% auto;
}
.testimonial-stars img{
    display: inline-block;
    margin: auto;
}

.testimonial-stars{
    margin: 10% auto;
}
/*testimonial*/
/*links*/
.links{
    padding: 10% 0;
}
.links-image{
display: block;
margin:10% auto;
}
.links-lower-container{
    width:80%;
    margin:0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.links-lower-left{
    margin-bottom:10%;
    margin-left: auto;
    margin-right: auto;
}
.links-lower-text{
    float: left;
    padding-top: 5%;
    padding-bottom: 5%; 
    border: none;
}
.links-lower-button{
    float: left;
    padding-top: 5%;
    padding-bottom: 5%;

}
.links-lower-right{
    width: fit-content;
    margin: 0 auto;
}
/*links*/
/*pricing*/
.pricing-container{
    padding:10%
}
.pricing-header{
    padding:5%
}
.pricing-header-h2{
    margin: 5% auto;
}
.pricing-header-p{
    margin: 5% auto;
}
.pricing-body-item-side{
    padding: 5% 15%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .pricing-body-item-middle{
    padding: 5% 15%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .pricing-lower-side-h3{
    margin: 10% auto;
  }
  .pricing-lower-middle-h3{
    margin: 10% auto;
  }
  .price{
      margin: 10% auto;
      width: fit-content;
  }
  .price-h2{
      float: left;

  }
  .price-right{
      float:right;
  }
  .offers{
      margin: 10% auto;
  }
  .pricing-button{
display: block;
margin: 5% auto;
width: 100%;
padding :10% 0%;
border-radius: 2%;

  }
/*pricing*/
/*contact*/
.contact-upper{
padding:10%;
padding-bottom:1%;
}
.contact-upper-left-p{
    margin:5% auto;
}
.contact-upper-right{
    margin-top:30%;
    margin-bottom:30%;
}
.contact-lower{
    padding-top: 50%;
  }
  .contact-lower-container{
    padding: 10% 10%;
  }
  .contact-form-h3{
    width: 50%;
  }
  .contact-form-header{
      margin-top:10%;
      margin-bottom:10%;
  }
  .contact-button{
      display: block;
  }
  .contact-form{
      width:100%
  }
  .contact-text{
      width: 100%;
      margin:5% auto;
      padding-top:5%;
      padding-bottom: 5%;
      border: 1px solid #BDBDBD;
      border-radius: 2%;
  }
  .contact-button{
      width:100%;
      padding-top:5%;
      padding-bottom:5%;
      border:none;
      border-radius: 2%;
      
  }
/*contact*/