.clearfix::after{
content: '';
display: block;
clear: both;
}
/* header */
.header{
    width: 100%;
    padding-bottom:10%;
}
.nav-bar-brand{
    margin-left: 5%;
    font-weight: 800;
}
.header-nav-bar{
    width:100%;
    margin: 0 auto;
}
.header-nav-bar ul{
    text-align: center;
}
.nav-bar-items{
    padding:5% 0;
}
.nav-bar-left{
    width:50%;
    margin:0 auto;
    padding: 5% 0 5% 0;
}
.nav-bar-right{
    display:none;
}
.header-center{
    width: 60%;
    margin: auto;
}
.center-headline{
    margin-top: 10%;
    margin-bottom: 10%;
}
.header-center-text{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
.header-center-buttons{
    margin-left:auto;
    margin-right: auto;
}
.header-center-button-left, .header-center-button-right{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2% 10% 2% 10%;
    border-radius: 25% 25% 25% 25% / 100% 100% 100% 100%;
}
.lower-header-container{
    padding-top:5%;
    padding-bottom:5%;
}
.header-lower-item{
    display: block;
    width: 60%;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding:10%;
}
.header-lower-h3{
    margin-top:5%;
    margin-bottom:5%;
}

/* header */
/*features*/

/*features*/