@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mulish:wght@200&family=Source+Sans+3:wght@300&display=swap");
.main {}

input[type="button"]:hover,
button:hover {
    cursor: pointer;
}

li:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

img:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.header {
    background-image: url("../images/header-cover.jpg");
    background-size: cover;
    padding-bottom: 10%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.nav-bar-brand {
    font-size: 2.5vw;
    font-weight: bolder;
    color: white;
}

.nav-bar-items {
    list-style: none;
    font-size: 0.9vw;
    color: rgb(115, 115, 115);
}

.nav-bar-link {
    text-decoration: none;
    font-size: 1.2vw;
}

.member {
    background-color: rgb(35, 166, 240);
    color: white;
    border: none;
    border-radius: 10% / 100%;
}

.header-center {
    color: white;
    font-weight: bolder;
}

.center-headline {
    font-size: 2.5vw;
    text-align: center;
}

.header-center-text {
    font-size: 1.25vw;
    text-align: center;
}

.header-center-button-left,
.header-center-button-right {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}

.header-center-button-left:hover {
    cursor: pointer;
    background-color: rgb(35, 166, 240);
}

.header-center-button-right:hover {
    cursor: pointer;
    background-color: rgb(35, 166, 240);
}

.header-lower-item {
    background-color: white;
}

.header-lower-item:hover {
    cursor: pointer;
    filter: brightness(0.5);
    color: black;
}

.header-lower-h3 {
    font-size: 1.5vw;
    font-weight: 900;
}

.header-lower-p {
    font-size: 1.25vw;
}

.feature {
    background-color: blue;
}

.features-item-h5 {
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.feature-item-p {
    text-align: center;
}

.testimonials {
    background-color: rgb(250, 250, 250);
}

.testimonial-header-h2 {
    font-weight: bold;
    font-size: 2.5vw;
    text-align: center;
}

.testimonial-body-item {
    border-radius: 2%;
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
}

.testimonial-header-p {
    /* font-size: 0.9vw; */
    text-align: center;
    margin: 2% auto;
    /* width: 30%; */
    font-size: 1.25vw;
}

.testimonial-body-p {
    text-align: center;
    width: 70%;
    margin: 15% auto;
}

.testimonial-image {
    border-radius: 100%;
}

.links {
    background-color: rgb(250, 250, 250);
}

.links-lower {
    background-image: linear-gradient(to right, rgb(0, 71, 136), rgb(213, 21, 137));
}

.links-lower-h3 {
    text-align: left;
}

.links-lower-left {
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
}

.links-lower-button {
    border: none;
    background-color: rgb(35, 166, 240);
    color: white;
}

.links-lower-button:hover {
    color: rgb(206, 206, 206);
}

.links-lower-right {
    border-radius: 10% / 100%;
}

.pricing-header-h2 {
    font-size: 2.5vw;
    text-align: center;
    font-weight: bold;
}

.pricing-header-p {
    /* font-size: 0.9vw; */
    text-align: center;
    font-weight: bold;
    /* width: 30%; */
}

.pricing-body-item-side {
    border: 1px solid rgb(35, 166, 240);
}

.pricing-lower-side-h3 {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}

.pricing-lower-middle-h3 {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}

.pricing-lower-side-h5 {
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
}

.pricing-lower-middle-h5 {
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
}

.price-h2 {
    font-size: 2.5vw;
    color: rgb(35, 166, 240);
}

.price-dollar {
    font-size: 1vw;
    color: rgb(35, 166, 240);
    font-weight: bolder;
}

.time {
    font-size: 1vw;
    color: rgb(35, 166, 240);
    font-weight: bolder;
}

.offers-h6 {
    font-size: 0.9vw;
    font-weight: bold;
}

.pricing-button {
    border: none;
    background-color: rgb(35, 166, 240);
    color: white;
    font-size: 0.9vw;
    font-weight: bold;
    border-radius: 10px;
}

.pricing-button:hover {
    color: rgb(197, 197, 197);
}

.pricing-body-item-middle {
    background-color: rgb(37, 43, 66);
    color: white;
}

.contact-upper {
    background-color: rgb(37, 43, 66);
    color: white;
}

.contact-upper-left-h2 {
    font-size: 2.5vw;
    color: white;
    font-weight: bold;
}

.contact-upper-left-p {
    /* font-size: 0.9vw; */
    font-weight: bold;
    color: white;
}

.contact-lower {}

.contact-lower-container {
    width: 50%;
    margin: -20% auto auto;
    background-image: url("../images/contact-lower-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 5%;
    z-index: 5;
}

.contact-lower-container::after {
    content: "";
    display: block;
    clear: both;
}

.contact-form-container {
    width: 75%;
    background-color: white;
    float: right;
    padding: 2%;
}

.contact-form-h3 {
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    margin: auto;
}

.contact-text {
    background-color: rgb(249, 249, 249);
}

.contact-form-tag {
    font-size: 1.5vw;
    font-weight: bolder;
}

.contact-button {
    background-color: rgb(35, 166, 240);
    font-weight: bold;
    color: white;
}

.contact-button:hover {
    color: rgb(204, 204, 204);
}

.footer-upper {
    background-color: rgb(250, 250, 250);
    padding-top: 0%;
    padding-bottom: 0%;
}

.footer-upper-h2 {
    font-size: 1.5vw;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer-upper-p {
    font-size: 1.25vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer-upper-button {
    background-color: rgb(35, 166, 240);
    border: none;
    color: white;
    margin-top: 5%;
    width: 10vw;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    font-size: 1.5vw;
    font-weight: bolder;
}

.footer-upper-button:hover {
    color: rgb(201, 201, 201);
}

.footer-middle {
    padding-top: 2.5%;
}

.footer-col-header {
    font-size: 1.5vw;
    font-weight: bolder;
}

.footer-col-li {
    font-size: 1.25vw;
    font-weight: 200;
}

.footer-lower {
    background-color: rgb(250, 250, 250);
}

.footer-lower-left-p {
    font-weight: bold;
}

.price-h2 {
    text-align: center;
}

* {
    font-family: Montserrat, sans-serif;
}

a {
    color: white;
}

p {
    font-size: 1.25vw;
}