/*header*/
.header {
  background-image: url("../images/header-cover.jpg");
  background-size:cover;

  /* background-position: 45% -48%; */
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
}
.nav-bar-brand {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}
.nav-bar-items {
  list-style: none;
  font-size: 0.9rem;
  color: #737373;
}
.nav-bar-link {
  text-decoration: none;
}
.member{
  background-color: #23a6f0;
  color:white;
  border:none;
  border-radius: 2%;
}
.header-center {
  color: white;
  font-weight: bolder;
}
.center-headline {
  font-size: 2.5rem;
  text-align: center;
}
.header-center-text {
  font-size: 1.25rem;
  text-align: center;
}
.header-center-button-left,
.header-center-button-right {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}
.header-center-button-left:hover {
  cursor: pointer;
  background-color: #23a6f0;
}
.header-center-button-right:hover {
  cursor: pointer;
  background-color: #23a6f0;
}
.header-lower-item {
  background-color: white;
}

.header-lower-item:hover {
  cursor: pointer;
  background-color: #23a6f0;
  color: black;
}

.header-lower-h3 {
  font-size: 1.5rem;
  font-weight: 900;
}
.header-lower-p {
  font-size: 1.25rem;
}

/*header*/
/*features*/
.feature{
  background-color: blue;
}
.features-item-h5 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
.feature-item-p {
  text-align: center;
  font-size: 0.9rem;
}
/*features*/
/*testimonials*/
.testimonials {
  background-color: #fafafa;
}
.testimonial-header-h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 5% auto 5% auto;
}
.testimonial-body-item{
  
    border-radius: 2%;
    border:1px solid rgb(192, 192, 192);
    background-color: white;

}
.testimonial-header-p {
  font-size: 0.9rem;
  text-align: center;
  margin: 5% auto 5% auto;
}
.testimonial-body-p {
  text-align: center;
  width: 70%;
  margin: 15% auto;
}
/*testimonials*/
/*links*/
.links {
  background-color: #fafafa;
}
.links-lower {
  background-image: linear-gradient(to right, #004788, #d51589);
}
.links-lower-h3 {
  text-align: left;
}
.links-lower-left {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.links-lower-button {
  border: none;
  background-color: #23a6f0;
  color: white;
}
.links-lower-button:hover {
  color: rgb(206, 206, 206);
}

.links-lower-right {
  border: 1px solid white;
  border-radius: 2%;
}

/*links*/
/*pricing*/
.pricing-header-h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}
.pricing-header-p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
}
.pricing-body-item-side {
  border: 1px solid #23a6f0;
}
.pricing-lower-side-h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.pricing-lower-middle-h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.pricing-lower-side-h5 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.pricing-lower-middle-h5 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.price-h2 {
  font-size: 2.5rem;
  color: #23a6f0;
}
.price-dollar {
  font-size: 1rem;
  color: #23a6f0;
  font-weight: bolder;
}
.time {
  font-size: 1rem;
  color: #23a6f0;
  font-weight: bolder;
}
.offers-h6 {
  font-size: 0.9rem;
  font-weight: bold;
}
.pricing-button {
  border: none;
  background-color: #23a6f0;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}
.pricing-button:hover {
  color: rgb(197, 197, 197);
}
.pricing-body-item-middle{
  background-color: #252B42;
  color:white;
  ;
}
/*pricing*/
/*contact*/
.contact-upper{
  background-color: #252B42;
  color: white;
}
.contact-upper-left-h2{
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}
.contact-upper-left-p{
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}
.contact-lower{
  background-image: url("../images/contact-lower-image.png");
  padding-top: 50%;
}
.contact-lower-container{
  background-color: white;
  border-bottom: 5px solid #252B42;
}
.contact-form-h3{
  font-size: 2rem;
  font-weight: bolder;
}
.contact-text{
  background-color: #F9F9F9;
  
}
.contact-form-tag{
  font-size: 0.9rem;
  font-weight: bolder;
}
.contact-button{
  background-color: #23a6f0;
  font-weight: bold;
  color: white;
}
.contact-button:hover{
  color: rgb(204, 204, 204);
}
  
/*contact*/
/*footer*/
.footer-upper{
  background-color: #FAFAFA
  ;
}
.footer-upper-h2{
  font-size: 1.5rem;
  font-weight:bolder;
  margin-bottom: 10%;
  line-height: 150%;
}
.footer-upper-p{
  font-size: 0.9rem;
}
.footer-upper-button{
  background-color: #23a6f0;
  border:none;
  border-radius:2%;
  color:white;
}
.footer-upper-button:hover{
  color:rgb(201, 201, 201);
}
.footer-col-header{
  font-size:1rem;
  font-weight: bolder;
  }
  .footer-col-li{
    margin-top:10%;
    margin-bottom:10%;
    font-size:0.9rem;
    font-weight:200;
  }
  .footer-lower{
    background-color: #FAFAFA;
  }
  .footer-lower-left-p{
    font-weight: bold;
}
/*footer*/
